<template>
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-8">
      <h2 class="text-2xl font-semibold mb-4">Expense List</h2>
      <ul>
        <li v-for="(expense, index) in expenses" :key="index" class="mb-4 border p-4 rounded-lg">
          <div class="flex justify-between items-center">
            <div>
              <span class="text-gray-700 font-medium">Amount:</span>
              <span class="ml-2">{{ expense.amount }}</span>
            </div>
            <div>
              <span class="text-gray-700 font-medium">Category:</span>
              <span class="ml-2">{{ expense.category }}</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="text-gray-700 font-medium">Date:</span>
            <span class="ml-2">{{ expense.date }}</span>
          </div>
          <div class="mt-2">
            <span class="text-gray-700 font-medium">Description:</span>
            <p class="mt-1">{{ expense.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        expenses: [
          {
            amount: 50.00,
            category: 'Food',
            date: '2023-08-10',
            description: 'Lunch at a local restaurant',
          },
          {
            amount: 25.00,
            category: 'Transportation',
            date: '2023-08-09',
            description: 'Bus fare to work',
          },
          // Add more expense objects as needed
        ],
      };
    },
  };
  </script>
  