<template>
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-8">
      <h2 class="text-2xl font-semibold mb-4">Expense Form</h2>
      <form @submit.prevent="submitForm">
        <div class="mb-4">
          <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
          <input
            type="number"
            id="amount"
            class="mt-1 p-2 border rounded-md w-full"
            v-model="expense.amount"
            required
          />
        </div>
        <div class="mb-4">
          <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
          <select
            id="category"
            class="mt-1 p-2 border rounded-md w-full"
            v-model="expense.category"
            required
          >
            <option value="" disabled>Select a category</option>
            <option value="food">Food</option>
            <option value="transportation">Transportation</option>
            <option value="entertainment">Entertainment</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div class="mb-4">
          <label for="date" class="block text-sm font-medium text-gray-700">Date</label>
          <input
            type="date"
            id="date"
            class="mt-1 p-2 border rounded-md w-full"
            v-model="expense.date"
            required
          />
        </div>
        <div class="mb-4">
          <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
          <textarea
            id="description"
            class="mt-1 p-2 border rounded-md w-full"
            v-model="expense.description"
            rows="3"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-gray-900 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition"
        >
          Submit
        </button>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        expense: {
          amount: null,
          category: '',
          date: '',
          description: ''
        }
      };
    },
    methods: {
      submitForm() {
        // Handle form submission logic here
        console.log('Form submitted:', this.expense);
        // Reset the form after submission
        this.expense = {
          amount: null,
          category: '',
          date: '',
          description: ''
        };
      }
    }
  };
  </script>
  