<template>
  <nav class="bg-gray-900 text-white">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center py-4 px-8">
      <div class="flex items-center space-x-4">
        <img src="./assets/img/noun-banking-app-5412532.png" alt="Logo" class="text-white w-8 h-8">
        <h1 class="text-xl font-semibold">Financial App</h1>
      </div>
      <ul class="flex space-x-6">
        <li class="cursor-pointer hover:text-gray-300 transition">
          <router-link :to="{ name: 'list' }">expense list</router-link>
        </li>
        <li class="cursor-pointer hover:text-gray-300 transition">
          <router-link :to="{ name: 'form' }">expense form</router-link>
        </li>
        <li class="cursor-pointer hover:text-gray-300 transition">
          <router-link :to="{ name: 'item' }">expense item</router-link>
        </li>

      </ul>
    </div>
  </nav>
  <router-view/>
</template>

<script>
export default {

}
</script>
